
@{
    ViewBag.Title = "ClasicAging";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    td {
        text-align: center !important;
    }
</style>
<h2>Clasic Aging</h2>
<button class="btn btn-info" onclick="ExportToExcel('Clasic Aging',null)">Export To Excel</button>
<button class="btn btn-secondary" id="ThisPrint">Print</button>
<script>
    $("#ThisPrint").click(function () {
        var YearFirstDay = moment(new Date($("#Year").find("option:selected").text(), 0, 1),'yyyy-MM-dd').format('YYYY-MM-DD')
        var YearLastDay = moment(new Date($("#Year").find("option:selected").text(), 11, 31),'yyyy-MM-dd').format('YYYY-MM-DD')
        var Title = "@BusController.Translate("Journal For Period") @BusController.Translate("From") " + YearFirstDay + " @BusController.Translate("To") " + YearLastDay
        PrintThis('', false, false, null, null, Title, false, false, null, '', true, '');
    })
</script>
<section>
    <div class="form-group">
        <label class="control-label col-md-2">Vendore</label>
        <div class="col-md-10">
            @Html.DropDownList("Vendore", ViewBag.Vendore as SelectList, "", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Year</label>
        <div class="col-md-10">
            @Html.DropDownList("Year", ViewBag.Years as SelectList, "", new { @class = "form-control" })
        </div>
    </div>
    <div>
        <button id="Search" class="btn btn-success">Search</button>
    </div>
</section>
<section id="Tbl"></section>
<script>
    $("#Search").click(function(){
        $.ajax({
            url: "@Url.Action("ClasicAgingRes")?VendoreId=" + $("#Vendore").find("option:selected").val() + "&Year=" + $("#Year").find("option:selected").text(),
            contentType: "html",
            beforeSend: function () {
                $("#Tbl").empty()
            },
            success: function (data) {
                $("#Tbl").html(data)
                ReTranslate();
            },
        })
    })
</script>