<span class="hide-normal" id="TCGE-CompanyID">@FabulousErp.Business.GetCompanyId()</span>
<span class="hide-normal" id="TCGE-FJEPer">@ViewBag.FJEPer</span>
<span class="hide-normal" id="TCGE-CheckYear">@ViewBag.CheckYear</span>
<span class="hide-normal" id="TCGE-AllowUserERate">@ViewBag.AllowUserERate</span>
<span class="hide-normal" id="TCGE-EPD">@ViewBag.EPD</span>
<span class="hide-normal" id="TCGE-FormatSetting">@ViewBag.FormateSetting</span>

<span class="hide-normal" id="TCGE-AccountType"></span>
<span class="hide-normal" id="TCGE-UpdateID"></span>
<span class="hide-normal" id="TCGE-UpdateDistID"></span>
<span class="hide-normal" id="TCGE-UpdateCostAccID"></span>
<span class="hide-normal" id="TCGE-CheckAnalytic"></span>
<span class="hide-normal" id="TCGE-DecimalNumber"></span>
<span class="hide-normal" id="TCGE-CheckCostCenter"></span>
<span class="hide-normal" id="TCGE-CheckMainCostCenter"></span>
<span class="hide-normal" id="TCGE-CostCenterType"></span>
<span class="hide-normal" id="ValidPostringNumber">@Business.HasPostringSetup().ToString().ToLower()</span>
<span class="hide-normal" id="AreaName">@Business.GetCurrentAreaName()</span>