@model  List<FabulousModels.ViewModels.Settings.Financial.GeneralSetting.UserAccount.List_Of_User>

@{
    ViewBag.Title = "Manage Users";
    ViewBag.FormCode = "SLOU";
}

@using (Html.BeginForm("GetUsers", "ListOfUser", FormMethod.Post, new { id = "MyForm" }))
{
    <div class="container-fluid">

        <input type="submit" value="Save" id="btnSaveRow" class="btn btn-primary btn-sm" />

        <table class="table table-bordered table-striped display nowrap" id="MyTable" style="width:100%">
            <thead>
                <tr>
                    <th width="15%"> User ID </th>
                    <th width="25%"> User Name </th>
                    <th width="20%"> Account Group </th>
                    <th width="20%"> Date Of Creation </th>
                    <th width="10%"> Delete </th>
                    <th width="10%"> Status </th>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr class="Search">
                        <td>
                            @Html.TextBoxFor(x => x[i].UserID, new { @readonly = "true" })
                        </td>

                        <td>
                            @Html.DisplayFor(x => x[i].UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(x => x[i].MembOfGroup)
                        </td>
                        <td>
                            @Html.DisplayFor(x => x[i].Date)
                        </td>
                        <td>
                            @Html.CheckBoxFor(x => x[i].Deleted, new { @class = "Deletecb" })
                        </td>
                        <td>
                            Active
                            @Html.CheckBoxFor(x => x[i].DisActive, new { @class = "checkedin v-bottom" })
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
}


@Html.IncludeVersionedJs("/_Content/JS/Settings/Financial/GeneralSetting/UserAccount/ListOfUser/DeleteAlert.js")
