@model FabulousDB.Models.New_assets_transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>New_assets_transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Acquesation_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acquesation_cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_of_orgin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_of_orgin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
