@model FabulousDB.Models.New_assets_transaction

@{
    ViewBag.Title = "Edit";
    Layout = null;
}

<h2>Edit</h2>

@using (Ajax.BeginForm("Edit", "New_assets_transaction", new AjaxOptions { OnBegin = "CheckSettings", OnSuccess = "SubmitAssetsForm" }, new { id = "AssetsTransactionForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>New_assets_transaction</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Acquesation_cost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Acquesation_cost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Acquesation_cost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date_of_orgin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date_of_orgin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date_of_orgin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Currency_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Currency_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Currency_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Reference, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Reference, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vendor_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Vendor_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vendor_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script>
    $("#Assets_class_id_above").change(function () {
        $("#Assets_class_id_below").val($(this).val());
        $("#Assets_class_id_below").change();
    })
    $("#TCGE-SUDAbove").change(function () {
        $(document).find("#TCGE-SUD").val($(this).val())
        $(document).find("#TCGE-GTbl").find('tr').eq(1).find('td').eq(3).text($(this).val());
        $(document).find("#TCGE-GTbl").find('tr').eq(2).find('td').eq(3).text($(this).val());
    })

    $(function () {
        var PostinInput = $("#TCGE-PostingDate");
        $("#AssetsTransactionPostingDate").replaceWith(PostinInput);
        $("#AssetsTransactionTransactionDate").replaceWith($("#TCGE-JEDate"))

    })
</script>