@model FabulousDB.Models.Depreication_assets_id_connection

@{
    Layout = null;
}
   @using (Ajax.BeginForm("Edit", new AjaxOptions { }))
   {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Depreication_assets_id_connection</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
    
            <div class="form-group hide">
                @Html.LabelFor(model => model.Deprecation_id, "Deprecation_id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Deprecation_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Deprecation_id, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Assets_id, "Assets_id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Assets_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Assets_id, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group hide">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }