@{
    ViewBag.Title = "Branch Analytic Account Distribution";
    ViewBag.FormCode = "SBAAD";
}
<div class="container-fluid">

    <span class="text-error" id="AccessError"></span>

    <div id="BranchDist" class="form-row mb-1">
        @if (FabulousErp.Business.GetCompanyId() != null)
        {
            <label class="col-md-2 col-form-label col-form-label-sm"> Branch ID : <i class="star">*</i> </label>
            <div class="col-md-2">
                @Html.DropDownList("BranchID", ViewBag.BranchList as SelectList, "-Choose-", new { @id = "BranchID", @class = "form-control form-control-sm" })
            </div>
            <label class="col-md-2 col-form-label col-form-label-sm"> Branch Name : </label>
            <div class="col-md-6">
                <input type="text" class="form-control form-control-sm" id="BranchName" disabled />
            </div>
        }
    </div>

    <div id="BranchAnalytic">
        <div class="form-row mb-1">
            <label class="col-md-2 col-form-label col-form-label-sm"> Analytic Accounts ID : <i class="star">*</i> </label>
            <div class="col-md-2">
                @Html.DropDownList("BranchAnalyticID", new SelectList(""), "-Choose-", new { @id = "BranchAnalyticID", @class = "form-control form-control-sm" })
            </div>
            <label class="col-md-2 col-form-label col-form-label-sm"> Branch Analytic Name : </label>
            <div class="col-md-6">
                <input type="text" class="form-control form-control-sm" id="BranchAnalyticName" disabled />
            </div>
        </div>
    </div>

    <div class="hide-normal" id="DistributionInputs">
        <span class="text-error" id="GlobalError"></span>
        <div class="form-row mb-1">
            <label class="col-md-2 col-form-label col-form-label-sm"> Account Distribution ID : <i class="star">*</i> </label>
            <div class="col-md-2">
                @Html.TextBox("DistributionID", null, new { @class = "form-control form-control-sm", @id = "DistributionID", @maxlength = "20" })
            </div>
            <label class="col-md-2"> Account Distribution Name : <i class="star">*</i> </label>
            <div class="col-md-6">
                @Html.TextBox("DistributionName", null, new { @class = "form-control form-control-sm", @id = "DistributionName", @maxlength = "100" })
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary btn-sm mb-1 hide-normal" id="AddDistributionBranchBtn"> Add </button>

    <!-- Table Area Start -->
    <table class="table table-bordered table-striped display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Account Distribution ID</th>
                <th>Account Distribution Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="AccountDistributionTbl"></tbody>
    </table>
    <!-- Table Area End -->

    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="popUpHearder">Delete Account Distribution</h4>
                    <a href="#" class="close" data-dismiss="modal"> <i class="fa fa-window-close"></i> </a>
                    <label id="AccountDistributionID" class="hide-normal"></label>
                </div>
                <div class="modal-body">
                    <p id="popUpContent"> Are You Sure? You Want To Delete This Account Distribution..!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="CancelDelete" class="btn btn-primary btn-sm" data-dismiss="modal">Cancel</button>
                    <button type="button" id="BranchDeletebtn" class="btn btn-danger btn-sm" onclick="BranchConfirmDelete()">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.IncludeVersionedJs("/_Content/JS/Settings/Financial/Accounting/_Branch/B_Analytic/B_AnalyticAccountDistribution/AddBranchDistribution.js")
