@model FabulousDB.Models.Deprecation_record

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Deprecation_record</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assets_acquisition_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assets_acquisition_cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Renewal_amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Renewal_amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disposal_amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disposal_amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beginning_deprecation_accumulated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beginning_deprecation_accumulated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Depreication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Depreication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Renewal_depreication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Renewal_depreication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disposal_depreication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disposal_depreication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ending_deprecication_accumulated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ending_deprecication_accumulated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Net_assets_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Net_assets_cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asset.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asset.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
