@{
    ViewBag.Title = "Cash Reciept/Withdraw Inquiry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="form-row mb-1">
        <label class="col-md-2 col-form-label col-form-label-sm"> Checkbook ID : </label>
        <div class="col-md-2">
            @Html.DropDownList("CBT-checkbookID", ViewBag.CheckbookID as SelectList, "-Choose-", new { @id = "CBT-checkbookID", @class = "form-control form-control-sm" })
        </div>
        <label class="col-md-2 col-form-label col-form-label-sm"> Document Type : <span class="star">*</span> </label>
        <div class="col-md-2">
            @Html.DropDownList("CBI-docType", new List<SelectListItem>
                                    {
                                    new SelectListItem{Text = "Receipt" , Value = "TCCR" },
                                    new SelectListItem{Text = "Withdraw" , Value = "TCCW" }
                                    },"-Choose-",new { @id = "CBI-docType", @class= "form-control form-control-sm Trans" })
        </div>
        <label class="col-md-2 col-form-label col-form-label-sm"> Document No : <span class="star">*</span> </label>
        <div class="col-md-2">
            @Html.DropDownList("CBI-docNumber", new SelectList(""), "-Choose-", new { @id = "CBI-docNumber", @class = "form-control form-control-sm", @disabled = "disabled" })
        </div>
    </div>
    <div class="form-row mb-1">
        <label class="col-md-2 col-form-label col-form-label-sm"> JV Number : </label>
        <div class="col-md-2">
            @Html.DropDownList("documentNumberVoid", ViewBag.JVNumber as SelectList, "-Choose-", new { @id = "TCGV-JENum", @class = "form-control form-control-sm" })
        </div>
        <label class="col-md-2 col-form-label col-form-label-sm"> Checkbook Name : </label>
        <div class="col-md">
            <input type="text" class="form-control form-control-sm" id="CBT-checkbookName" disabled />
        </div>
    </div>
    <div class="form-row mb-1">
        <label class="col-md-2 col-form-label col-form-label-sm"> Currency : </label>
        <div class="col-md-2">
            @Html.DropDownList("TCGE-CurrencyID", ViewBag.CurrencyIDList as SelectList, "...", new { @id = "TCGE-CurrencyID", @class = "form-control form-control-sm", @disabled = "disabled" })
        </div>
        <label class="col-md-2 col-form-label col-form-label-sm"> Transaction Date : </label>
        <div class="col-md-2">
            <input type="date" class="form-control form-control-sm" id="C_TransactionDate" disabled />
        </div>
        <label class="col-md-2 col-form-label col-form-label-sm"> Posting Date : </label>
        <div class="col-md-2">
            <input type="date" class="form-control form-control-sm" id="C_PostingDate" disabled />
        </div>
    </div>
    <div class="hide-normal" id="TCCR-rateField">
        <div class="form-row mb-1">
            <label class="col-md-2 col-form-label col-form-label-sm"> System Rate : </label>
            <div class="col-md-2">
                <input type="text" class="form-control form-control-sm" id="TCGE-SystemRate" readonly />
            </div>

            <label class="col-md-2 col-form-label col-form-label-sm"> Transaction Rate : </label>
            <div class="col-md-2">
                <input type="text" class="form-control form-control-sm" id="TCGE-TransactionRate" readonly />
            </div>

            <label class="col-md-2 col-form-label col-form-label-sm"> Difference : </label>
            <div class="col-md-2">
                <input type="text" class="form-control form-control-sm" id="TCGE-DiffrenceRate" readonly />
            </div>
        </div>
    </div>
    <div class="form-row mb-1">
        <label class="col-md-2 col-form-label col-form-label-sm"> Reference : </label>
        <div class="col-md-2">
            <input type="text" class="form-control form-control-sm" id="TCGE-Reference" readonly />
        </div>
        <label class="col-md-2 col-form-label col-form-label-sm"> Received From/Pay To : </label>
        <div class="col-md-2">
            <input type="text" class="form-control form-control-sm" id="CBT_receivedFrom_payTo" disabled />
        </div>
        <label class="col-md-2 col-form-label col-form-label-sm"> Amount : </label>
        <div class="col-md-2">
            <input type="text" class="form-control form-control-sm" id="CBT-amount" disabled />
        </div>
    </div>
    @Html.Action("UploadFile", "UploadFile")

    @Html.Partial("_MainVoidTransaction")


</div>


@Html.IncludeVersionedJs("/_Content/JS/MainTransactions.js")
@Html.IncludeVersionedJs("/_Content/JS/ShowTransaction.js")
@Html.IncludeVersionedJs("/_Content/JS/Settings/VoidTransaction.js")
@Html.IncludeVersionedJs("/_Content/JS/Settings/CheckbookTransactionVoid_Script.js")
@Html.IncludeVersionedJs("/_Content/JS/Inquiry/Financial/Inquiry_CheckbookTransactions.js")

<script>
    $("#FUGAS").hide();
    $("#FileUploadGlobalDelete").hide();
    $("#FileUploadSec").hide();
    $(function () {
        if (getParameterByName("postingNumber")) {
            $("#CBI-docNumber").val(getParameterByName("postingNumber"));
        }
    })
</script>