@{
    ViewBag.Title = "Company CheckBook Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.FormCode = "SCCB";
}
<div class="container-fluid">
    <form>
        <div class="btn-group btn-group-sm" role="group">
            <button type="button" class="btn btn-primary" id="SCCB-CheckbookSave">Save</button>
            <button type="button" class="btn btn-info" id="SCCB-CheckbookUpdate" disabled>Update</button>
            <button type="button" class="btn btn-danger" id="SCCB-CheckbookDelete" disabled>Delete</button>
            <button type="button" class="btn btn-secondary" id="SCCB-CheckbookClear">Clear</button>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="fast-link">
                    <a class="text-info font-italic" href="/Inquiry_CheckbookSetting/CompanyCB"> Inquiry OF Company Checkbook </a>
                </div>
                <!-- Global Errors -->
                <span class="text-error" id="SCCB-GlobalErrors"></span>
                <span class="text-success" id="SCCB-GlobalSuccess"></span>

                <div class="form-row">
                    <div class="col-md-3">
                        <label class="col-form-label col-form-label-sm"> Checkbook ID : <span class="star">*</span> </label>
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" id="SCCB-checkbookID" maxlength="10">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#SCCB-searchModal"> <i class="fa fa-search"></i> </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label col-form-label-sm"> Checkbook Name : <span class="star">*</span> </label>
                        <input type="text" class="form-control form-control-sm" id="SCCB-checkbookName">
                    </div>
                    <div class="col-md-2">
                        <label class="col-form-label col-form-label-sm text-hide"> Checkbook Status : </label>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="SCCB-checkbookStatus" class="custom-control-input" value="False" />
                            <label for="SCCB-checkbookStatus" class="custom-control-label"> Inactive </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label col-form-label-sm"> CheckBook Type : <span class="star">*</span> </label>
                        @Html.DropDownList("SCCB-checkbookType", new List<SelectListItem>
                                             {
                                             new SelectListItem{Text = "Cash" , Value = "Cash" },
                                             new SelectListItem{Text = "Bank" , Value = "Bank" },
                                             new SelectListItem{Text = "Check" , Value = "Check" }
                                             },"-Choose-",new { @id = "SCCB-checkbookType", @class= "form-control form-control-sm" })
                    </div>
                </div>
                <hr />

                <div class="form-row">
                    <div class="col-md-3">
                        <label class="col-form-label col-form-label-sm"> Currency : <span class="star">*</span> </label>
                        @Html.DropDownList("SCCB-currency", ViewBag.Currency as SelectList, FabulousErp.BusController.Translate("-Choose-"), new { @id = "SCCB-currency", @class = "form-control form-control-sm" })
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label col-form-label-sm"> Account ID : <span class="star">*</span> </label>
                        @Html.DropDownList("SCCB-accountID", new SelectList(""),FabulousErp.BusController.Translate("-Choose-"), new { @id = "SCCB-accountID", @class = "form-control form-control-sm" })
                    </div>
                    <div class="col-md-5">
                        <label class="col-form-label col-form-label-sm"> Account Name : </label>
                        <input type="text" class="form-control form-control-sm" id="SCCB-accountName" placeholder="..." disabled />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-2">
                        <label class="col-form-label col-form-label-sm"> Min. Amount : </label>
                        <input type="text" class="form-control form-control-sm" id="SCCB-minAmount" />
                    </div>
                    <div class="col-md-2">
                        <label class="col-form-label col-form-label-sm"> Max. Amount : </label>
                        <input type="text" class="form-control form-control-sm" id="SCCB-maxAmount" />
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label col-form-label-sm"> Next Withdraw Number : <span class="star">*</span> </label>
                        <input type="text" class="form-control form-control-sm" value="1" id="SCCB-Nextwithdraw" />
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label col-form-label-sm"> Next Deposit Number : <span class="star">*</span> </label>
                        <input type="text" class="form-control form-control-sm" value="1" id="SCCB-Nextdeposit" />
                    </div>
                </div>
                <hr />

                <div class="form-row">
                    <div class="col-md-6">
                        <label class="col-form-label col-form-label-sm"> Current Checkbook Balance : </label>
                        <input type="text" class="form-control form-control-sm" id="SCCB-currentBalance" disabled />
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label col-form-label-sm"> Current Cash Account Balance : </label>
                        <input type="text" class="form-control form-control-sm" id="SCCB-currentCash" disabled />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <label class="col-form-label col-form-label-sm"> Last Reconcile Balance : </label>
                        <input type="text" class="form-control form-control-sm" id="SCCB-lastReconcileBalance" disabled />
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label col-form-label-sm"> Last Reconcile Date : </label>
                        <input type="text" class="form-control form-control-sm" id="SCCB-lastReconcileDate" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3 border br-5 bg-light">
                <div class="form-row">
                    <div class="col-md">
                        <label for="SCCB-bankName" class="col-form-label col-form-label-sm"> bank Name : </label>
                        <input type="text" class="form-control form-control-sm" id="SCCB-bankName" disabled />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md">
                        <label for="SCCB-bankAccountNumber" class="col-form-label col-form-label-sm"> bank Account Number : </label>
                        <input type="text" class="form-control form-control-sm" id="SCCB-bankAccountNumber" disabled />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md">
                        <label for="SCCB-bankAccountName" class="col-form-label col-form-label-sm"> bank Account Name : </label>
                        <input type="text" class="form-control form-control-sm" id="SCCB-bankAccountName" disabled />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md">
                        <label for="SCCB-branchName" class="col-form-label col-form-label-sm"> Branch Name : </label>
                        <input type="text" class="form-control form-control-sm" id="SCCB-branchName" disabled />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <label for="SCCB-swiftCode" class="col-form-label col-form-label-sm"> Swift Code : </label>
                        <input type="text" class="form-control form-control-sm" id="SCCB-swiftCode" disabled />
                    </div>
                    <div class="col-md-12">
                        <label for="SCCB-IBAN" class="col-form-label col-form-label-sm"> IBAN : </label>
                        <input type="text" class="form-control form-control-sm" maxlength="30" id="SCCB-IBAN" style="font-size:13px" disabled />
                    </div>
                </div>
                <hr />

                <!-- Checkbook Security-->
                <h5 class="d-flex justify-content-between align-items-center">
                    <span class="text-muted">Checkbook Security</span>
                    <span class="fa fa-lock"></span>
                </h5>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="custom-control custom-radio">
                            <input type="radio" name="CBS" id="SCCB-CBuserID" class="custom-control-input" />
                            <label class="custom-control-label" for="SCCB-CBuserID"> User ID </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-control custom-radio">
                            <input type="radio" name="CBS" id="SCCB-CBpassword" class="custom-control-input" />
                            <label class="custom-control-label" for="SCCB-CBpassword"> Password </label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md mb-1">
                        <label for="SCCB-securityUserID" class="col-form-label col-form-label-sm"> User ID : </label>
                        @Html.DropDownList("SCCB-securityUserID", ViewBag.UserIDs as SelectList, "-Choose-", new { @id = "SCCB-securityUserID", @class = "form-control form-control-sm", @disabled = "disabled" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md mb-1">
                        <label for="SCCB-securityPassword" class="col-form-label col-form-label-sm"> Password : </label>
                        <input type="text" class="form-control form-control-sm" id="SCCB-securityPassword" disabled />
                    </div>
                </div>
            </div>
        </div>


        <!-- The modal -->
        <div class="modal fade" id="SCCB-searchModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modalLabelSmall"> Checkbook Search </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @Html.DropDownList("SBCB-checkbookSearch", ViewBag.checkbookSearch as SelectList, "-Choose-", new { @id = "SCCB-checkbookSearch", @class = "form-control form-control-sm" })
                    </div>
                </div>
            </div>
        </div>
        <!-- End The modal -->
    </form>
</div>


@*@Html.IncludeVersionedJs("/Scripts/jquery-3.3.1.js")*@
@Html.IncludeVersionedJs("/_Content/JS/Settings/Financial/Accounting/_Company/C_CheckBook/C_CheckBookSetting.js")
