@{
    if (ViewBag.IsInstallment == "true")
    {
        ViewBag.Title = "Payable Installment Payment";
    }
    else
    {
        ViewBag.Title = "Payable Payment";

    }
}
@if (@ViewBag.D == "D")
{
    <button id="PrintBtn" onclick="PrintThis('Sec', false, false, null, null, 'Payable Payment', true, true, null);" class="btn btn-primary Print hide">Print</button>
    if (ViewBag.Void != null)
    {
        @Html.Raw(ViewBag.Void)
    }
}
<section id="PayablePayment">
    @Html.Action("PartialCreate", new { id = ViewBag.Id, IsTransaction = true, IsInstallment = ViewBag.IsInstallment })
</section>
<section id="InstallmentSec" style="margin-top:40px;"></section>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" id="SubmitPaymentOBtn" class="btn btn-success" />
    </div>
    <div class="form-group WAuto d-inline-block">
        <button type="button" class="btn btn-primary ToggleTransAction">Show Jv</button>
        @if (@ViewBag.D == "D")
        {
            <span>Journal Entry @ViewBag.JE</span>
        }
    </div>
</div>
<section id="JVSecCont">
    <section id="JVTransactionSec" style="display:none;">
        @Scripts.Render("~/MainTransaction")
        <section class="DebitCreditSection">
            @Html.Action("GetMainTransaction", "Business", new { FixedAssets = true, area = "" })
        </section>
    </section>
</section>
<script>
    $(document).find(".hidePayment").hide();
    $("#PayablePayment").on("change", "#Currency_id", function () {
        MaskMoneyTxt("@ViewBag.companyID", null, $(this).find("option:selected").text())
    });
    $(function () {
        $(".PayTransactionDiv").before(' <div class="form-group MyHide" >'
            + '<select class="form-control valid" id="DocType" name="DocType" style="width:70%;display:inline-block;">'
            + '<option value="@Doc_type.Invoice">@Doc_type.Invoice.ToString()</option>'
            + '<option value="@Doc_type.Debit_Memo">@Doc_type.Debit_Memo.ToString()</option>'
            + '</select>'
            + '</div>');
        $(".PayTransactionDiv").removeClass("hide");
        $("#Transaction_idDrop").removeClass("hide");
        DisableAjax($(document).find("#SubmitPaymentOBtn"))
    })
    $("#SubmitPaymentOBtn").click(function () {
        $("#PaymentForm").validate();
        $("#PaymentForm").valid();
        if (!$("#PaymentForm").valid()) {
            return false;
        } else {
            BatchId = "";
            InsertTransactionData($("#TCGE-CompanyID").text(), $("#BostingToORThrow").val(), $("#TCGE-PostingDate").val(), $("#TCGE-JEDate").val(), $("#TCGE-Reference").val(), $("#TCGE-CurrencyID").val(), $("#TCGE-SystemRate").val(), $("#TCGE-TransactionRate").val(), "PayPay", "PayPay", BatchId, "",
                function (JournalEntryNumber) {
                    $(document).find(".Journal_number").val(JournalEntryNumber)
                    $("#Trx_trans_doc_type_id").val($("#Transaction_idDrop").val());
                    if (getParameterByName("Installment") == "true") {
                        $("#IsInstallment").val(true);
                    }
                    $("#SubmitPayment").trigger("click");
                    RedirectInt(window.location.href);
                }, null, true,null,true)
        }
    });
    $(function () {
        var FirstTrDate = $("#PayablePayment").find("#Transaction_date").val();
        var FirstPoDate = $("#PayablePayment").find("#Posting_date").val();
        $("#PayablePayment").find("#Transaction_date").replaceWith($("#JVSecCont").find("#TCGE-JEDate"));
        $("#PayablePayment").find("#TCGE-JEDate").attr("name", "Transaction_date")
        $("#PayablePayment").find("#Posting_date").replaceWith($("#JVSecCont").find("#TCGE-PostingDate"));
        $("#PayablePayment").find("#TCGE-PostingDate").attr("name", "Posting_date");
        $(document).find("#TCGE-JEDate").val(FirstTrDate);
        $(document).find("#TCGE-PostingDate").val(FirstPoDate);

        var attr = $("#PayablePayment").find("#TCGE-PostingDate").attr('disabled');


        if (typeof attr !== typeof undefined && attr !== false) {
            $("#PayablePayment").find("#TCGE-PostingDate").removeAttr("disabled");
            $("#PayablePayment").find("#TCGE-PostingDate").attr("readonly", "readonly");
        }

        $("#PayablePayment").find("#VendoreDiv").before('<span id="ReplaceWithTrans"></span>');
        $(document).find("#PayablePayment").find("#ReplaceWithTrans").replaceWith($("#JVSecCont").find("#TCCR-rateField"))
        $(document).find(".GlAddedBatch").hide();
        MaskMoneyTxt("@ViewBag.companyID",null)

    })
    $(document).on("click", "#TCGE-JEDate", function () {
        @if (@ViewBag.D != "D")
        {
            <text>
                $("#PayablePayment").find("#Currency_id").val("");
                $("#PayablePayment").find("#Check_book_id").val("");
            </text>

        }

    })
    $("#PayablePayment").on("change focusout", "#Currency_id", function () {
        $("#TCGE-CurrencyID").val($(this).val())
        $("#TCGE-CurrencyID").trigger("change")
        $("#PayablePayment").find("#TCGE-SystemRate").trigger("change")
        $("#PayablePayment").find("#TCGE-TransactionRate").trigger("change")
        //if (!$("#PayablePayment").find("#TCGE-SystemRate").is(":visible")) {
        //    $("#PayablePayment").find("#Transaction_rate").val(1)
        //}
        //if (!$("#PayablePayment").find("#TCGE-TransactionRate").is(":visible")) {
        //    $("#PayablePayment").find("#System_rate").val(1)
        //}

    })
    $(document).on("change focusout", "#TCGE-SystemRate", function () {
        $("#PayablePayment").find("#System_rateMask").val($(this).val())

    })
    $(document).on("change focusout", "#TCGE-TransactionRate", function () {
        $("#PayablePayment").find("#Transaction_rateMask").val($(this).val())
    })

    $("#PayablePayment").on("change focusout", "#Reference", function () {
        $(document).find("#TCGE-Describtion").val($(this).val())
        $(document).find("#TCGE-Reference").val($(this).val())
    })


    $(document).on("change", "#Vendor_id,#Check_book_id,#Orginal_amountMask,#Taken_discountMask", function () {

        if ($("#PayablePayment").find("#Vendor_id").val())
        {

            var Orginal_amount = GetMaskNumber($(document).find("#Orginal_amountMask").val()),
                Payable = 0, BookId = 0;
            var Taken_discount = GetMaskNumber($("#PayablePayment").find("#Taken_discountMask").val());
            var TransactionRate = GetMaskNumber($("#PayablePayment").find("#Transaction_rateMask").val());

            if (TransactionRate == 0) {
                TransactionRate = 1;
            }
            BookId = $("#PayablePayment").find("#Check_book_id").val();


            Payable = parseFloat((parseFloat(Orginal_amount) + parseFloat(Taken_discount)) * TransactionRate)


            var Url = "@Url.Action("GetPaymentAccount", "Payable_gl_account")" + "?VendorId=" + $("#PayablePayment").find("#Vendor_id").find("option:selected").val()
                + "&Taken_discount=" + Taken_discount * TransactionRate
                + "&Orginal_amount=" + parseFloat(Orginal_amount) * TransactionRate
                + "&Payable=" + Payable
                + "&CheckBookId=" + BookId
                + "&Transaction_rate=" + TransactionRate
                + "&CurrencyIso=" + $("#Currency_id").find("option:selected").text()

            $.ajax({
                url: Url,
                method: "POST",
                success: function (data) {
                    EmptyGlTransaction();
                    $.each(data, function (k, i) {
                        ManyJvAction(i);
                    })
                }
            })
        }
    })
    $(document).on("click", ".Cash_type", function () {
        $(document).find(".hidePayment").show();

        if ($(this).val() == "@Cash_type.Cash") {
            $(document).find("#Cheque_number").parents(".form-group").hide();
            $("#PayablePayment").find("#Due_date").parents(".form-group").hide();
        } else {
            $(document).find("#Cheque_number").parents(".form-group").show();
            $("#PayablePayment").find("#Due_date").parents(".form-group").show();
           }
        if ($(this).val() == "@Cash_type.Installment") {
            $(".InstDiv").show();
            $(".InstmentsDiv").show();

        } else {
            $(".InstDiv").hide();
            $(".InstmentsDiv").hide();
        }
    })
</script>
<script>
    var VendoreValid;
    $(document).on("change","#Vendor_id",function () {
        var Vendor_id =$(this).find("option:selected").val()
        $.ajax({
            url: "@Url.Action("HasPassword", "Creditor_setting")?id=" + Vendor_id,
            method: "POST",
            success: function (HasPassword) {
                if (HasPassword) {
                    ModelMsg("<div class='col-sm-12'><label>Enter Password</label><input type='password' class='GroupSettingPas form-control'  /></div>", "Enter Password"
                        , false,
                        function () {
                            $.ajax({
                                url: "@Url.Action("CheckPass", "Creditor_setting")?Id=" + Vendor_id + "&Password=" + $(document).find(".GroupSettingPas").val(),
                                method: "POST",
                                success: function (data) {
                                    if (data) {
                                        GetCreditorName(Vendor_id)
                                        VendoreValid = true;
                                    } else {
                                        ModelMsg("<h4>Wrong Password</h4>", "Wrong Password", true)
                                        $(document).find("#Vendor_id").val("");
                                        VendoreValid = false;

                                    }
                                }
                            })
                        }, function () {
                                if (!VendoreValid) {
                                    $("#Vendor_id").val("");
                                }
                        })
                } else {
                    GetCreditorName(Vendor_id)
                }
            }
        })
        GetTransaction();
    })
    $(document).on("change","#DocType",function () {
        GetTransaction();
    })
    function GetTransaction() {

        $.ajax({
            url: "@Url.Action("GetTranstion")?DT=" + $("#DocType").find("option:selected").val() + "&VendoreId=" + $("#Vendor_id").find("option:selected").val(),
            method: "POST",
            beforeSend: function () {
                $("#Transaction_idDrop").empty();
            },
            success: function (data) {
                $("#Transaction_idDrop").append("<option value=''></option>")

                $.each(data, function (k,i) {
                    $("#Transaction_idDrop").append("<option value='" + i.Id + "'>" + i.Counter+"</option>")
                });
            }
        })
    }
    $(document).on("change", "#Taken_discount", function () {
        var attr = $("#Orginal_amountMask").attr('disabled');

        // For some browsers, `attr` is undefined; for others,
        // `attr` is false.  Check for both.
        if (ThisInvoicePur != 0) {
            if (typeof attr !== typeof undefined && attr !== false) {
                var TK = parseFloat($("#Taken_discount").val());
                $("#Orginal_amountMask").val(ThisInvoicePur - TK).trigger("mask.maskMoney")
            }
        }


    })
    function GetCreditorName(Id, CallBack = null) {
         $.ajax({
             url: "@Url.Action("GetNameAndCBookById", "Creditor_setting")?id=" + Id,
             success: function (data) {
                 $("#VendorNamelbl").text(data.Name);
                 $("#PayablePayment").find("#Check_book_id").val(data.CBook);
                 $("#PayablePayment").find("#Check_book_id").trigger("change");
                 if (data.PaymentPer == "@Payment_per.Invoice") {
                     $(document).find("#Orginal_amountMask").attr("disabled", "disabled");
                     $(document).find("#Taken_discountMask").attr("disabled", "disabled");

                     $(document).find("#DocType").show();
                     $(document).find(".PayTransactionDiv").show();

                     $(document).find(".MyHide").removeClass("hide");
                     $("#Taken_discountMask").parents(".form-group").removeClass("hide");
                 } else {
                     // $(document).find("#Taken_discountMask").attr("disabled", "disabled");

                     $(document).find("#DocType").hide();
                     $(document).find(".PayTransactionDiv").hide();
                     $(document).find(".MyHide").addClass("hide");

                     @if (@ViewBag.D != "D")
                     {
                         <text>
                     $(document).find("#Orginal_amountMask").removeAttr("disabled");
                     $(document).find("#Taken_discountMask").removeAttr("disabled");

                     </text>
                     }
                     //$("#Transaction_idDrop").addClass("hide");
                    // $("#Taken_discount").parents(".form-group").addClass("hide");
                 }
                 if (CallBack != null) {
                     CallBack(data.CBook);
                 }
            },
            method:"POST"
        })
    }
</script>
<script>
    $("#Check_book_id,#TCGE-PostingDate").change(function () {
        $.ajax({
            url: "@Url.Action("GetCheckBookCurrency")?Id=" + $("#Check_book_id").find("option:selected").val(),
            method: "POST",
            success: function (data) {
                $(document).find("#Currency_id").val(data);
                $(document).find("#Currency_id").trigger("change");
                $(document).find("#Orginal_amountMask").trigger("keyup");
                $("#System_rateMask").trigger("change")
                $("#Transaction_rateMask").trigger("change")
            }
        })
    })
    $("#TCGE-PostingDate").change(function () {
        $("#Transaction_idDrop").val("");

    })
    $(function () {
        $(document).find(".Cash_type").first().trigger("click")
    })
    var ThisInvoicePur = 0;
    $("#Transaction_idDrop").change(function () {
        if ($(document).find("#Check_book_id").find("option:selected").val()) {
            $.ajax({
                url: "@Url.Action("GetTransactionAmount", "Payable_transaction")?Id=" + $("#Transaction_idDrop option:selected").val() + "&CheckBookId=" + $("#Check_book_id").find("option:selected").val(),
                method: "POST",
                success: function (data) {
                    if (data.msg) {
                        alert(data.msg);
                        $("#Transaction_idDrop").val("")
                        $(document).find("#Orginal_amount").val("")
                        $(document).find("#Orginal_amountMask").val("").trigger('mask.maskMoney')

                    } else {
                        $(document).find("#Orginal_amount").val(data.Amount)
                        $(document).find("#Orginal_amountMask").val(data.Amount).trigger('mask.maskMoney')
                        ThisInvoicePur = data.Amount;
                    }
                    $("#PayablePayment").find("#Transaction_id").val($("#Transaction_idDrop option:selected").val())

                    $("#PayablePayment").find("#Check_book_id").trigger("change")
                    $("#PayablePayment").find("#Check_book_id").trigger("focusout")

                    //if (new Date(data.TrxDate) < new Date($("#TCGE-PostingDate").val())) {
                    //    alert("Transaction Posting Date is " + new moment(data.TrxDate).format('DD-MM-YYYY') + " Earlier Than Payment Date");
                    //    $("#Transaction_idDrop").val("")
                    //    $(document).find("#Orginal_amount").val("")
                    //    $(document).find("#Orginal_amountMask").val("").trigger('mask.maskMoney')

                    //    $("#PayablePayment").find("#Check_book_id").trigger("change")
                    //    $("#PayablePayment").find("#Check_book_id").trigger("focusout")

                    //} else {

                    //}

                }
            })

        } else {
            Talert("Please Choose CheckBook First")
            return;
        }

    })
</script>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@if (@ViewBag.D == "D")
{
    <script>
        $("#PrintBtn").removeClass("hide")

        $(function () {
            var CheckBook = $("#Check_book_id").find("option:selected").text();
            $("#Check_book_id").trigger("change")
            $("#Check_book_id").hide();

            $("#Check_book_id").after("<label class='form-control' style='background:#EEEEEE !important;color:brown;'>" + CheckBook + "</label>")
            var VendorId = $("#Vendor_id").find("option:selected").val();
            $(document).find("input").attr("disabled", "disabled");
            $(document).find("select").attr("disabled", "disabled");
            $(document).find("input[type='submit']").remove();
            $(document).find("button").not(".Print").not(".ToggleTransAction").hide();
            setTimeout(function () {
                GetCreditorName(VendorId, function (CheckBook) {
                    $("#Check_book_id").attr("disabled", "disabled");
                    $(document).find("input").attr("disabled", "disabled");
                    $(document).find(".GlAddedBatch").nextUntil(".mt-2").hide();
                    $("#JVSecCont").attr("style", "display:block;");
                });
            }, 500)
        })

    </script>
}

@if (@ViewBag.D == "D")
{
    <script>
        $(document).on("change", "#Currency_id", function () {
            $(document).find("#TCGE-TransactionRate").attr("disabled", "disabled");
        });
    </script>

}
else
{
    <script>
        $(document).on("change", "#Currency_id", function () {
                TransactionRateStatus("@Business.FinancialForms.Payable_payment")
        });
    </script>

}


<script>
    $("#Check_book_id").change(function () {
        var asd = $(this).find("option:selected").attr("data-type");
        if ($(this).find("option:selected").attr("data-type") == "@Cash_type.Cash") {
            $(document).find("#Cheque_number").parents(".form-group").hide();
            $("#PayablePayment").find("#Due_date").parents(".form-group").hide();
        } else if ($(this).find("option:selected").attr("data-type") == "Bank" || $(this).find("option:selected").attr("data-type") == "Check") {
            $(document).find("#Cheque_number").parents(".form-group").show();
            $("#PayablePayment").find("#Due_date").parents(".form-group").show();
        }
    });

    $(function () {
        if (getParameterByName("Installment") == "true") {
            $(".InstDiv").show();
            $(".InstmentsDiv").show();
        }
    })
</script>




