@{
    ViewBag.Title = "Checkbook Transfer Void";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.FormCode = "TCVT";
}
<div class="container-fluid">

    <!-- Span For Void-Transaction Check -->
    <span class="hide-normal" id="TCGE-CompanyID">@FabulousErp.Business.GetCompanyId()</span>
    <span id="documentNumberName" hidden></span>
    <span id="C_TransactionDate" hidden></span>

    <button class="btn btn-primary btn-sm" id="CBT-transferVoid"> Void </button>
    <button class="btn btn-secondary btn-sm" id="TCGE-Reset"> Clear </button>

    <div class="form-row mb-1">
        <label class="col-md-2 col-form-label col-form-label-sm"> Void Number : </label>
        <div class="col-md-2">
            @Html.DropDownList("documentNumberVoid", ViewBag.DocumentNumber as SelectList, "-Choose-", new { @id = "TCGV-JENum", @class = "form-control form-control-sm" })
        </div>
    </div>
    <div class="form-row mb-1">
        <label class="col-md-2 col-form-label col-form-label-sm"> Void Date : <span class="star">*</span> </label>
        <div class="col-md-2">
            <input type="date" class="form-control form-control-sm" id="TCGE-JEDate" />
        </div>
        <label class="col-md-2 col-form-label col-form-label-sm"> Reference : <span class="star">*</span> </label>
        <div class="col-md">
            <input type="text" class="form-control form-control-sm" id="TCVT-Reference" />
        </div>
    </div>

    <section id="transferFrom">
        <h5 class="font-weight-bold"> Transfer From : </h5>
        @{
            Html.RenderAction("TransferData");
        }
    </section>

    <section id="transferTo">
        <h5 class="font-weight-bold"> Transfer To : </h5>
        @{
            Html.RenderAction("TransferData");
        }
    </section>

    @Html.Partial("_MainVoidTransaction")

</div>




@Html.IncludeVersionedJs("/_Content/JS/MainTransactions.js")
@Html.IncludeVersionedJs("/_Content/JS/ShowTransaction.js")
@Html.IncludeVersionedJs("/_Content/JS/Settings/VoidTransaction.js")
@Html.IncludeVersionedJs("/_Content/JS/Settings/CheckbookTransactionVoid_Script.js")


