@model FabulousDB.Models.Inv_receive_po

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Inv_receive_po</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Currency.CurrencyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency.CurrencyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PO.Currency_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PO.Currency_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Site.Site_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Site.Site_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Store.Store_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store.Store_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendore.Vendor_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendore.Vendor_id)
        </dd>

       
        <dt>
            @Html.DisplayNameFor(model => model.Doc_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doc_type)
        </dd>

      
        <dt>
            @Html.DisplayNameFor(model => model.Batch_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Batch_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Buyer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Buyer)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
