@{
    ViewBag.Title = "Update Factory Main Cost Center";
    ViewBag.FormCode = "SUFMCC";
}

<div class="container-fluid">

    <span class="text-error" id="AccessError"></span>

    <div class="form-row mb-1" id="FactoryMainCC">
        @if (FabulousErp.Business.GetCompanyId() != null )
        {
            <label class="col-md-2 col-form-label col-form-label-sm"> Factory ID : <i class="star">*</i> </label>
            <div class="col-md-2">
                @Html.DropDownList("FactoryID", ViewBag.FactoryList as SelectList, "-Choose-", new { @id = "FactoryID", @class = "form-control form-control-sm" })
            </div>
            <label class="col-md-2 col-form-label col-form-label-sm"> Factory Name : </label>
            <div class="col-md-6">
                <input type="text" class="form-control form-control-sm" id="FactoryName" disabled />
            </div>
        }
       
    </div>

    <div id="FilterCostCenterGroupIDFactory">
        <div class="form-row">
            <label class="col-md-2 col-form-label col-form-label-sm"> Cost Center Group ID : <i class="star">*</i> </label>
            <label class="col-md-2">
                @Html.DropDownList("FactoryCostCenterGroupID", new SelectList(""), "-Choose-", new { @id = "FactoryCostCenterGroupID", @class = "form-control form-control-sm" })
            </label>
            <label class="col-md-2 col-form-label col-form-label-sm"> Cost Center Group Name : <i class="star">*</i> </label>
            <div class="col-md-6">
                <input type="text" class="form-control form-control-sm" id="FactoryCostCenterGroupName" disabled />
            </div>
        </div>
    </div>

    <div id="FilterCostCenterGlobal" class="hide-normal">
        <div id="FilterCostCenterIDFactory" class="hide-normal">
            <div class="form-row">
                <label class="col-md-2 col-form-label col-form-label-sm"> Cost Center ID : <i class="star">*</i> </label>
                <label class="col-md-2">
                    @Html.DropDownList("FactoryCostCenterID", new SelectList(""), "-Choose-", new { @id = "FactoryCostCenterID", @class = "form-control form-control-sm" })
                </label>
                <label class="col-md-2 col-form-label col-form-label-sm"> Cost Center Name : <i class="star">*</i> </label>
                <div class="col-md-3">
                    <input type="text" class="form-control form-control-sm" id="FactoryCostCenterName" disabled />
                </div>
                <label class="col-md-2 col-form-label col-form-label-sm"> Percentage % : <i class="star">*</i> </label>
                <div class="col-md-1">
                    @Html.TextBox("Percentage", null, new { @class = "form-control form-control-sm", @id = "Percentage", @type = "number", @onkeydown = "javascript: return event.keyCode == 69 ? false : true", @min = "0", @onkeypress = "return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <span class="hide-normal" id="FactoryAddBtn">
                <button class="btn btn-primary btn-sm" id="FactoryAddCostCenterID">Add</button>
            </span>

            <span id="ComparePercentage" class="hide-normal">
                <span id="TakedPercentage"></span> % - From 100 %
            </span>

            <span class="text-error" id="PercentageError"></span>
        </div>
    </div>

    <!-- Table Area Start -->
    <table class="table table-bordered table-striped display nowrap" id="TestTable">
        <thead>
            <tr>
                <th>Cost Center ID</th>
                <th>Cost Center Name</th>
                <th>percentage %</th>
                <th>Action (Delete)</th>
            </tr>
        </thead>
        <tbody id="CostCenterGroupTbl"></tbody>
    </table>
    <!-- table Area End -->

    <div class="form-group col-md-12">

        <div class="hide-normal" id="FactoryUpdateBtn">
            <button class="btn btn-primary" id="FactoryUpdateCostCenterGroup">Update</button>
        </div>

        <label class="text-error" id="SaveError"></label>
        <label class="text-success" id="SaveSuccess"></label>
    </div>
</div>


@Html.IncludeVersionedJs("/_Content/JS/Settings/Financial/Accounting/_Factory/F_CostCenter/F_UpdateMainCostCenter/FactoryUpdateMainCC.js")
