@{ 
    int SortBy = 1;
    Layout = null;
    string ApplayDate = "By Applaying Date";
    if (ViewBag.Cont != "Assign_payable_doc")
    {
        ApplayDate = "By Posting Date";
    }
}
<p>
    
        @if (ViewBag.section != "Inquiry" && ViewBag.section != "Report")
        {
            @Html.ActionLink("Create New", "Create", $"{ViewBag.Cont}", new { Setting = ViewBag.section }, new { })
            if (ViewBag.section == "Inquiry")
            {
                SortBy = 1;
            }
        }
        else
        {
            if (ViewBag.section == "Inquiry")
            {
                <button onclick="PrintThis(null,false,true,null,null,'',true);" class="btn btn-primary">Print</button>

            }
            else if (ViewBag.section == "Report")
            {
                <div class="clearfix">
                    <button onclick="PrintThis(null,false,true,null,null,'',true);" class="btn btn-primary">Print</button>
                    <button class="btn btn-info" onclick="ExportToExcel('@ViewBag.Cont','hide')">Export To Excel</button>

                    <input type="radio" name="search" value="2" class="v-middle search" />
                    <label class="v-middle" style="margin-bottom:1px;">By Creation Date</label>

                    <input type="radio" name="search" value="3" class="v-middle search" />
                    <label class="v-middle" style="margin-bottom:1px;">@ApplayDate</label>

                    <label style="margin-bottom:1px;margin-left:20px;">
                        from
                    </label>
                    <input type="date" class="From form-control" style="display:inline-block;" />
                    <label style="margin-bottom:1px;">   to </label>
                    <input type="date" class="To form-control" style="display:inline-block;" />
                </div>

                SortBy = 4;

            }
        }
</p>
<section id="Table">
    @Html.Action("IndexPartial", $"{ViewBag.Cont}", new { SortBy = SortBy, section = ViewBag.section })
</section>
<script>
    $("input").on("click change", function () {
        var SortBy = $(".search:checked").val();
        $.ajax({
            datatype:"html",
            url: "@Url.Action("IndexPartial", $"{ViewBag.Cont}")?section=@ViewBag.section&SortBy=" + SortBy + "&From=" + $(".From").val() + "&To=" + $(".To").val(),
            success: function (data) {
                $("#Table").html(data);
            }

        })
    });
</script>
