@model FabulousDB.Models.Inv_store_site

@{
    ViewBag.Title = "store site";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Store.Store_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store.Store_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Site_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Site_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Site_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Site_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inactive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inactive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
